<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
			Faux Times Daily
    </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
		<header>
			<div class="top-bar">
				<div class="top-button" id="sections">
					<a href="#sections" class="sections">sections</a>
				</div>
				<div class="top-button" id="search">
					<a href="#search" class="search">search</a>
				</div>
				<div class="top-button" id="settings">
					<a href="#settings" class="settings"></a>
				</div>
				<div class="top-button" id="login">
					<a href="#login" class="login">log in</a>
				</div>
				<ul>
					<li>
						<a href="#U.S.">U.S.</a>
					</li>
					<li>
						<a href="International">International</a>
					</li>
					<li>
						<a href="##">##</a>
					</li>
				</ul>
			</div>
			<div class="title-head">
				<h1>
					Faux Times Daily
				</h1>
			</div>
		</header>
		<menu>
			<div class="nav-top">
				<ul>
					<li>
						date
					</li>
					<li>
						todays paper
					</li>
					<li>
						video
					</li>
					<li>
						weather
					</li>
					<li>
						money
					</li>
				</ul>
			</div>
			<div class="nav-bottom">
				<ul>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
					<li>
						poop
					</li>
				</ul>
			</div>
		</menu>
		<div class="page-content">
		</div>
		<footer>
		</footer>
  </body>
</html>

