/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ################################################# */
html {
	font-family: arial, helvetica, sans-serif;
}
body {
	width: 980px;
	margin: 0 auto;
	padding: 0 20px 0 20px;
}
a {
	text-decoration: none;
}
.top-bar {
	width: 100%;
	padding-top: 11px;
	height: 39px;
	border-bottom: 1px solid gray;
}
.top-bar ul {
	position: relative;
	top: 21px;
	border: 1px solid gray;
	border-bottom: 1px solid white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 0.8em;
	width: 145px;
  text-align: center;
	margin: 0 auto;
}
.top-bar li {
	padding: 4px 4px 0 4px;
	display: inline-block;
}
.top-button {
	font-size: 0.9em;
	font-weight: bold;
	height: 23px;
	width: 82px;
	padding-top: 7px;
	padding-left: 8px;
	border-radius: 2px;
	float: left;
}
.top-button:hover {
	background: #f5f5f5;
	transition: background 0.2s ease-in-out;
}
.sections {
	display: block;
	width: 16px;
	height: 16px;
	text-indent: 20px;
	background: url(/static/hamburger.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
#sections {
	padding-right: 5px;
}
.search {
	margin-left: 5px;
	display: block;
	width: 14px;
	height: 14px;
	text-indent: 20px;
	background: url(/static/magglass.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
.settings {
	margin-top: -4px;
	margin-left: -3px;
	display: block;
	width: 23px;
	height: 23px;
	background: url(/static/cog.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
#settings {
	width: 23px;
	margin-right: 3px;
	float: right;
}
.login {
	display: block;
	color: white;
	background-size: contain;
	background-repeat: no-repeat;
}
#login {
	width: 48px;
	border-radius: 3px;
	margin-right: 12px;
	background: #5f9ea0;
	padding-left: 10px;
	float: right;
}
#login:hover {
	background: #778899;
}

.title-head {
	text-align: center;
	font-size: 300%;
	padding: 20px 0 15px 0;
}
menu {
	width: 100%;
	text-align: center;
}
.nav-top {
	font-size: 0.7em;
	padding-bottom: 13px;
}
.nav-top li {
	display: inline;
	padding-left: 5px;
}
.nav-top li:after {
	content: "|";
	padding-left: 5px;
}
.nav-top li:last-child:after {
	content: "";
}
.nav-bottom {
	font-size: 0.7em;
	border-top: 2px solid black;
	border-bottom: 1px solid gray;
	padding: 6px 0 7px 0;
}
.nav-bottom li {
	display: inline;
	margin-right: 10px;
}
.nav-bottom li:last-child:after {
	margin-right: 0;
}

##### page contents #####

.page-content {
	width: 100%;
}
.left-side {
	background: gray;
	width: 20%;
	float: left;
}
.middle-side {
	background: yellow;
	width: 40%;
	float: left;
}
.right-side {
	width: 40%;
	height: 500px;
	float: left;
}
.right-top {
	float: left;
}
.right-top-content {
	width: 50%;
	background: blue;
	float: left;
}
.right-scroll {
	overflow: scroll;
	height: 300px;
	float: left;
	clear: both;
}

.right-scroll-content {
	background: green;
}
.bottom-left-wide {
	background: brown;
	width: 60%;
	float: left;
	clear: both;
}
